@media screen and (min-width: 1500px) {
  body:has(.tabBar_f8303a) .accountProfileCard__1fed1 {
    width: 1000px;
  }

  body:has(.buttonContainer_d286c5) .wrapper__44b0c {
    transform: translate(33px, 55px) scale(1.35);
  }

  body:has(.tabBar_f8303a) .banner__68edb {
    width: 600px;
    transform: scaleX(1.5);
    transform-origin: left;
  }

  body:has(.tabBar_f8303a) .container__8061a {
    position: relative;
    right: -50px;
    top: 20px;
  }

  body:has(.tabBar_f8303a) .profileCardUsernameRow__1fed1 {
    position: relative;
    left: 50px;
  }
}
