   :root {
       --theme-version: "2.6 - [28.01.2026] - Made by zafazu";
       --main-color: #6c6c6c;
       --main-color-border: #5c4e47;
       --hover-color: #747474;
       --success-color: #8411b9;
       --danger-color: #06c516;
       --url-color: #5c4e47;
       --online-color: #43b581;
       --idle-color: #faa61a;
       --dnd-color: #982929;
       --streaming-color: #593695;
       --offline-color: #808080;
       --main-font: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif;
       --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
       --text-normal: rgb(220, 221, 222);
       --text-muted: rgb(114, 118, 125);
       --channels-width: 220px;
       --members-width: 240px;
       --background-shading: 160%;
       --background-overlay: rgba(0, 0, 0, 0.6);
       --background-image: url();
       --background-position: center;
       --background-size: 125%;
       --background-repeat: repeat;
       --background-attachment: fixed;
       --background-brightness: 100%;
       --background-contrast: 100%;
       --background-saturation: 100%;
       --background-invert: 0%;
       --background-grayscale: 0%;
       --background-sepia: 0%;
       --home-icon: url(https://discord.com/assets/7ebbc1790864207a.webp);
       --home-position: center;
       --home-size: 50px;
       --channel-unread: var(--main-color);
       --channel-color: rgba(255, 255, 255, 0.3);
       --channel-text-selected: #fff;
       --muted-color: rgba(255, 255, 255, 0.1);
       --backdrop-overlay: rgba(0, 0, 0, 0.8);
       --backdrop-image: var(--background-image);
       --backdrop-position: var(--background-position);
       --backdrop-size: var(--background-size);
       --backdrop-repeat: var(--background-repeat);
       --backdrop-attachment: var(--background-attachment);
       --backdrop-brightness: var(--background-brightness);
       --backdrop-contrast: var(--background-contrast);
       --backdrop-saturation: var(--background-saturation);
       --backdrop-invert: var(--background-invert);
       --backdrop-grayscale: var(--background-grayscale);
       --backdrop-sepia: var(--background-sepia);
       --backdrop-blur: var(--background-blur);
       --user-popout-image: var(--background-image);
       --user-popout-position: var(--background-position);
       --user-popout-size: var(--background-size);
       --user-popout-repeat: var(--background-repeat);
       --user-popout-attachment: var(--background-attachment);
       --user-popout-brightness: var(--background-brightness);
       --user-popout-contrast: var(--background-contrast);
       --user-popout-saturation: var(--background-saturation);
       --user-popout-invert: var(--background-invert);
       --user-popout-grayscale: var(--background-grayscale);
       --user-popout-sepia: var(--background-sepia);
       --user-popout-blur: calc(var(--background-blur) + 3px);
       --user-popout-overlay: rgba(0, 0, 0, 0.6);
       --user-modal-image: var(--background-image);
       --user-modal-position: var(--background-position);
       --user-modal-size: var(--background-size);
       --user-modal-repeat: var(--background-repeat);
       --user-modal-attachment: var(--background-attachment);
       --user-modal-brightness: var(--background-brightness);
       --user-modal-contrast: var(--background-contrast);
       --user-modal-saturation: var(--background-saturation);
       --user-modal-invert: var(--background-invert);
       --user-modal-grayscale: var(--background-grayscale);
       --user-modal-sepia: var(--background-sepia);
       --user-modal-blur: calc(var(--background-blur) + 3px);
       --bd-blue: var(--main-color);
       --bd-blue-hover: var(--hover-color);
       --bd-blue-active: var(--hover-color);
   }

   /* FRIENDLIST LINES */
   .peopleListItem_cc6179 {
       border-top: none;
       border-bottom: none;
   }



   /* BETTER FRIENDLIST */
   .text__19b6d,
   .customStatusEmoji__19b6d {
       display: none;
   }

   .peopleListItem_cc6179 .icon_c9d15c {
       display: none;
   }



   /* SEARCHBAR REMOVAL */
   .searchBarComponent__35e86,
   .searchBar_e6b769 {
       display: none;
   }

   .image__33d12 {
       visibility: hidden;
       position: relative;
   }


   .text__33d12:after {
       visibility: visible;
       position: absolute;
       top: 0;
       left: 0;
       content: "Sadly, there's nothing to see here.";
   }

   .friendsEmpty_c7ea19 .vertical_abf706 .text__33d12 {

       visibility: hidden;
       position: relative;
   }



   /* MESSAGE TOOL BAR FIX 06.08.2024 */

   /* ACTIVE NOW TEXT */

   .header__7d20c {
       text-indent: -9999px;
       position: relative;
       display: flex;
       justify-content: center;
   }


   .header__7d20c::after {
       text-indent: 1px;
       content: "";
       text-align: left;
       position: absolute;
       left: 50%;
       transform: translateX(-39%);
   }



   .content_b6bcee .wrapper__33d12 .text__33d12:after {
       visibility: visible;
       position: absolute;
       top: 0;
       left: 15%;
       content: "You haven't completed any quests silly";
   }


   /* REMOVE EDIT BUTTON ON PROFILE */
   .wrapper_d852db .button_fb7f94 {
       display: none;
   }

   /* TEXT PREVIEW REMOVAL */
   .preview__3e443,
   .input_fea832,
   .inner_fea832 {
       display: none;
   }


   .button__67645:active {
       backdrop-filter: blur(8px);
   }

   /* ACTIVITY BACKGROUND TRANSPARENT LOL TRANS + PARENT FUNNY */
   .overlayBackground_c69a7b {
       background-color: transparent !important;
   }

   /* REACTION FIX */
   .reactionBtn__23977 {
       background-color: transparent !important;
   }




   /* STREAM PREVIEW BLACK BACKGROUND */
   .streamPreviewWrapper__6da2d {
       background-color: #000 !important;
   }

   .biteSizeInner_c69a7b {
       background-color: #000 !important;
   }

   .innerDisabled__74017 {
       pointer-events: auto !important;
       opacity: 1;
   }


   .button_e6e74f {
       display: none !important;
   }


   .scrollableContainer__74017 {
       background-color: transparent !important;
   }

   .themedBackground__74017 {
       background-color: transparent !important;
   }



   /* ???????????????????????? 

   .channelTextArea_f75fb0 {
       background-color: transparent !important;
   }

   /* -----------------------*/


   .wrapper__11054 {
       display: none;
   }










   /* --------------------------------------------------- NEW UI --------------------------------------------------- */


   /* BAR */

   .base__5e434 .bar_c38106 .title_c38106 .text-sm\/medium_cf4812 {
       font-size: 0;
   }

   .base__5e434 .bar_c38106 .title_c38106 .text-sm\/medium_cf4812::before {
       content: "";
       font-size: 11px;
       opacity: 50%;
       position: fixed;

   }

   .base__5e434 .title_c38106 .title__85643 svg {
       display: none !important;
   }

   .title_c38106 .title__85643 .guildIcon__85643 {
       display: none;
   }

   .bar_c38106 .title_c38106 .title__85643 {
       transform: translateX(-100%);
       margin-right: 88%;
       position: relative;
       top: 5px;
   }



   @media screen and (min-width: 1500px) {
       .bar_c38106 .title_c38106 .title__85643 {
           left: -2.1%;
       }
   }



   .panelSubtextContainer__37e49 {
       display: none !important;
   }



   .folderGroup__48112 {
       height: auto;
       display: block;
   }






   /* SEARCH BAR */

   .searchBar__5ec2f {
       display: none;
   }




   /* SEARCH BAR POS FIX */

   .children__9293f {
       position: relative;
       top: 5px;
   }





   /* BORDERS */
   .container_c8ffbb {
       border: none !important;
   }

   .callContainer_cb9592 {
       border-top-color: var(--main-color-border) !important;
   }

   .callContainer_cb9592 {
       border-left-color: var(--main-color-border) !important;
   }

   .callContainer_cb9592 {
       border-left: none !important;
   }


   .container__133bf {
       border-color: var(--main-color-border) !important;
   }


   .sidebarListRounded__5e434 {
       border-color: var(--main-color-border) !important;
   }




   .tabBody__133bf {
       border: none !important;
   }


   .container__9293f {
       border-bottom: none !important;
   }


   .scrollerBase_d125d2 {
       border: none !important;
   }


   .subtitleContainer_f75fb0 {
       border: none !important;
   }

   .chat_f75fb0 {
       border-color: var(--main-color-border) !important;
   }

   .header_f37cb1 {
       border: none !important;
       box-shadow: none !important;
   }

   .content_f75fb0 {
       border: none !important;
   }




   /* ADD FRIEND */


   .tabBar__133bf :last-child {
       background-color: var(--main-color) !important;
   }

















   /* FRIEND STATUS FIX */

   .container_c9d15c {
       display: none;
   }





   /* USER POPUP FIX */


   .didRender_faf9c0 {
       background-color: black;
   }



   .buttonsInner__5126c {
       background-color: black !important;
       border-color: var(--main-color-border);
   }



   .buttonsInner__5126c {
       background-color: black !important;
       border-color: var(--main-color-border);
   }


   .inner_c0bea0 {
       background-color: #000 !important;
   }

   .section__00943 {
       background-color: transparent !important;

   }

   .panels__5e434 {
       background-color: black !important;
   }

   .memberInner__5d473 {
       &:has(.chipletContainerInner__10651) {
           .chipletContainerInner__10651 {
               display: none;
           }
       }
   }


   /* NEWS */

   .recentMentionsPopout__95796 {
       background-color: black !important;
       color: black !important;
   }

   .header_ab6641 {
       background-color: black !important;
       color: black !important;
   }

   .channelHeader__35a7e {
       background-color: black !important;
       color: black !important;
   }

   .messageContainer__95796 {
       background-color: black !important;
       color: black !important;
   }

   .messages__1ccd1 {
       background-color: black !important;
       color: black !important;
   }

   .row__6fddf {
       background-color: black !important;
       color: black !important;
   }

   .scrollerBase_d125d2 {
       background-color: black !important;
       color: black !important;
   }

   .sectionContainer__61424 {
       background-color: black !important;
   }

   .soundRow__61424 {
       background-color: black !important;
   }

   /* CLAN TAGS */

   .avatarContainer_dca174 {
       background: none !important;
   }

   .container_dca174 {
       background-color: transparent !important;
   }

   .svg__2338f {
       background-color: transparent !important;
       border-radius: 20% !important;
   }

   .avatarWrapper_dca174 {
       background-color: transparent !important;
   }



   .chipletContainerInner__10651 {
       background-color: transparent !important;
   }

   .body_dca174 {
       background-color: black !important;
   }

   .buttonContainer_dca174 {
       background-color: black !important;
   }

   .header__6e500 {
       background-color: black !important;
   }

   .animatorLeft_faf9c0 {
       border-radius: 20px !important;
   }

   /* ANSWER TO PFP OR STATUS MÜLL */
   .popover__2d0ab {
       display: none !important;
   }

   /* Guild in UserCard Fix */
   span.guildTagContainer__63ed3 {
       border-color: transparent !important;
   }


   /* SERVER MEMBER ACCEPTING THINGS */

   .actionButton__6b102 {
       background-color: black;
   }

   .infoContainer__6b102 {
       background-color: black;
   }

   .cardContainer__6b102 {
       background-color: black;
   }


   /* FIX SUMMARIES PLUGIN */

   .messagesWrapper__36d07:has(.topicsPill__0f481) .topicsPill__0f481 {
       background-color: black !important;
       border: none !important;
   }

   .messagesWrapper__36d07:has(.topicsPillContainer__0f481) .topicsPillContainer__0f481 {
       border: none !important;
   }

   /* FIX MESSAGE SEARCHBAR */

   .DraftEditor-root {
       background-color: black;
   }

   .searchBar_c322aa {
       border-radius: 5px;
   }

   .icon_c322aa {
       background-color: black;
       height: 40px !important;
       position: relative;
       top: -7px;
   }


   /* SERVER BANNER FIX */

   .bannerImg_f37cb1 {
       width: max-content;
   }


   /* BUTTON FIX */
   .buttonChildrenWrapper_a22cb0 {
       background-color: var(--main-color);
   }

   .button_a22cb0 {
       border: none !important;
   }

   .sidebarList__5e434 {
       border-top-color: #5c4e47 !important;
   }

   .header_f37cb1 {
       border-top-color: #5c4e47 !important;
   }

   .container_f37cb1 {

       border-top-color: #5c4e47 !important;
   }

   .container__2637a {
       border-top-color: #5c4e47 !important;

   }

   /* new SERVER NITRO */
   .progress__0d0f9 {
       border-radius: 4px !important;
       background-color: transparent;
       background: none;
       background-color: rgb(56, 26, 52);
   }

   .progress__0d0f9:hover {
       border-radius: 4px !important;
       background-color: transparent;
       background: none;
       background-color: rgb(56, 26, 52);
   }




   .visual-refresh:not(.platform-osx) .leading_c38106::before {
       content: var(--before-content, "DarkVision");
       position: static;
       margin-left: 10px;
       font-size: 16px;
       font-weight: 600;
       color: var(--text-default);
       order: 2;
       filter: drop-shadow(0 0 5px var(--hsl-main-color));
   }

   .leading_c38106::after {
       content: var(--theme-version) !important;
   }





   .visual-refresh:not(.platform-osx) .leading_c38106::after {
       content: "7.0.1";
       position: static;
       margin-top: -5px;
       margin-left: 5px;
       font-family: var(--code-font);
       font-size: 11px;
       font-weight: 600;
       color: var(--text-muted);
       order: 3
   }



   .tabListScroller__37bfc {
       background-color: transparent !important;
   }


   .title_c38106 .title_edbb22 .icon_f34534 {
       display: none;
   }

   .title_edbb22 {
       display: none;
   }






   /*PROFILE TEXT FIX */

   .panelTitleContainer__37e49 [class*="cf48127484dbde85-text-md/medium"] {
       opacity: 80%;
       font-size: 15px;
   }


   /*SETTINGS SEARCHBAR FIX */

   .input__0ed4f {
       background-color: transparent;
       box-shadow: none !important;
   }

   /*ACTIVITY FIX 2.0 */



   /* SERVER BANNER BLACK BOX FIX */



   .scroller__629e4 {
       background-color: transparent !important;
   }





   /* CAT */

   /*  THANKS TO Computing Cat for this snippet and help ^^  */


   .user-profile-sidebar>[class^="inner_"]>[class^="footer__"] {
       border: none;

       &::before {
           display: block;
           border-bottom: 1px solid var(--user-profile-border);
       }
   }

   .emptyCard__7e549::before {
       content:
           "╱|、   \a"
           "(˚ˎ 。7  \a"
           "|、˜〵\  \a"
           "  じしˍ,)ノ";

       white-space: pre;
       inset: 0;
       padding: 20px 0;
       color: rgba(255, 255, 255, 0.547);
       text-align: center;
       font-size: 150%;
   }

   .title_c38106 {
       justify-content: left !important;
       padding: 0 320px;
   }

   .title_c38106::before {
       /* The cat */
       content:
           "  ╱|、   \a"
           "  (˚ˎ 。7  \a"
           "  |、˜〵\  \a"
           "    じしˍ,)ノ";

       white-space: pre;
       display: block;
       padding: 40px;
       color: rgba(255, 255, 255, 0.503);
       text-align: center;
       font-size: 15%;
       line-height: 1.2;
   }





   /* Textbox MESSAGE MSG fix */

  
.scrollableContainer__74017 {

  min-height: 75px; 

}

.inner__74017 {
 position: relative;
 top: 10px;
}



   

   /* EMPTY FRIENDLIST FIX */

   .peopleColumn__133bf {
       background-color: black !important;

   }

   /* FADE CAUSED SETTINGS SEARCHBAR BUG */

   .searchBar_c7e907 {
       margin-top: 30px;
   }

   /* NVIDIA NOW FIX */

   .popoverContentWithGradient_d6f39b {
       display: none !important;
   }

   /* END BUTTON */

   .bottomControls_bfe55a div:nth-child(3) div:nth-child(1) div:nth-child(1) div:nth-child(1) div {
       color: rgb(255, 255, 255);

   }

   /* END BUTTON FRAME */

   .centerButton_f1ceac {
       border-radius: 10px !important;
   }




   /* BUTTON FIX */

   .buttonChildrenWrapper_a22cb0 {
       background-color: var(--main-color);
   }


   .button_a22cb0 {
       border: none !important;

   }

   /* Gradient fix */


   .chatGradientBase__36d07 {
       display: none;
   }

   /* ------------------------------------------------------------------*/

   @media (max-width: 1500px) {

       /* MAKE THE OVERFLOW VISIBLE SO THE ICONS CAN SHOW ABOVE BAR */
       .form_f75fb0 .scrollableContainer__74017 {
           overflow: visible !important;
       }

       /* MAKE IT MOVE */
       .form_f75fb0 .inner__74017 {
           position: relative;
       }

       /* DEFINE POS */
       .form_f75fb0 .buttons__74017 {
           position: absolute;
           top: 0;
           right: 0;
           z-index: 10;
           transition: top 0.3s ease;
       }

       /* MOVE BUTTONS */
       .form_f75fb0 .inner__74017:focus-within .buttons__74017 {
           top: -70px;
       }

       .form_f75fb0 .inner__74017:focus-within .markup__75297 {
           width: 100%;
       }

       /* OTHERS */
       .form_f75fb0 .buttons__74017 {
           position: absolute;
           right: 0;
           top: 0;
       }

       .form_f75fb0 .inner__74017 {
           position: relative;
       }

       .form_f75fb0 .markup__75297 {
           display: block;
           width: 150px;
           transition: width 0.3s ease;
       }
   }


   .container__9293f,
   .panel__5dec7,
   .container__37e49,
   .itemsContainer_ef3116,
   .privateChannels_e6b769,
   .sidebar__5e434 {
       background-color: black !important;
       border: none !important;
   }

   /* ------------------------------------------------------------------*/


   .title_edbb22,
   .searchBar_e6b769 {
       display: none;
   }


   .sidebarList__5e434 {
       border-color: var(--main-color-border) !important;
   }




   /* NITRO PROFILE CARD FREEDOM */


   .profileBody__9c3be {
       background-color: transparent !important;
   }


   .tabPanelScroller__37bfc {
       background-color: transparent !important;
   }


   .button_fb7f94 {
       background-color: #a69589 !important;
       border-radius: 10px;
   }


   .icon_a22cb0 {
       color: white;
   }

   .listScroller__9d78f {
       background-color: transparent !important;
   }

   .container__8061a {
       background-color: transparent !important;
   }


   .bannerButton_fb7f94 {
       background-color: #a69589;
       border-radius: 10px;
   }


   .icon__0c4c4 {
       margin-top: 7px !important;
   }

   .body__5be3e {
       background-color: transparent !important;
   }




   [data-list-item-id^="chat-messages"] {
       animation: fadeUp 0.3s ease-out;
   }

   @keyframes fadeUp {
       from {
           opacity: 0;
           transform: translateY(10px);
       }

       to {
           opacity: 1;
           transform: translateY(0);
       }
   }

   .icon__6e9f8 {
       border-radius: 100%;
   }

   


   .content_d125d2:has(.container__0f2e8) {

       .container__0f2e8,
       .headerContainer__095fe {
           display: none;
       }

       .header__13cf1:nth-child(2) {
           display: none;
       }
   }
.backForwardButtons__63abb {
    display: none;
}
