 :root {
       --theme-version: "2.9 - [16.04.2026] - Made by zafazu";
       --theme-transparency-amount: 0.5;
       --theme-blur-amount: 1px;
       --main-color: #6c6c6c;
       --main-color-border: #5c4e47;
       --hover-color: #747474;
       --success-color: #8411b9;
       --danger-color: #06c516;
       --url-color: #5c4e47;
       --online-color: #43b581;
       --idle-color: #faa61a;
       --dnd-color: #982929;
       --streaming-color: #593695;
       --offline-color: #808080;
       --main-font: gg sans, Helvetica Neue, Helvetica, Arial, sans-serif;
       --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
       --text-normal: rgb(220, 221, 222);
       --text-muted: rgb(114, 118, 125);
       --channels-width: 220px;
       --members-width: 240px;
       --background-shading: 160%;
       --background-image: url();
       --background-position: center;
       --background-size: 125%;
       --background-repeat: repeat;
       --background-attachment: fixed;
       --background-brightness: 100%;
       --background-contrast: 100%;
       --background-saturation: 100%;
       --background-invert: 0%;
       --background-grayscale: 0%;
       --background-sepia: 0%;
       --home-icon: url(https://discord.com/assets/7ebbc1790864207a.webp);
       --home-position: center;
       --home-size: 50px;
       --channel-unread: var(--main-color);
       --channel-color: rgba(255, 255, 255, 0.3);
       --channel-text-selected: #fff;
       --muted-color: rgba(255, 255, 255, 0.1);
       --backdrop-overlay: rgba(0, 0, 0, 0.8);
       --backdrop-image: var(--background-image);
       --backdrop-position: var(--background-position);
       --backdrop-size: var(--background-size);
       --backdrop-repeat: var(--background-repeat);
       --backdrop-attachment: var(--background-attachment);
       --backdrop-brightness: var(--background-brightness);
       --backdrop-contrast: var(--background-contrast);
       --backdrop-saturation: var(--background-saturation);
       --backdrop-invert: var(--background-invert);
       --backdrop-grayscale: var(--background-grayscale);
       --backdrop-sepia: var(--background-sepia);
       --backdrop-blur: var(--background-blur);
       --user-popout-image: var(--background-image);
       --user-popout-position: var(--background-position);
       --user-popout-size: var(--background-size);
       --user-popout-repeat: var(--background-repeat);
       --user-popout-attachment: var(--background-attachment);
       --user-popout-brightness: var(--background-brightness);
       --user-popout-contrast: var(--background-contrast);
       --user-popout-saturation: var(--background-saturation);
       --user-popout-invert: var(--background-invert);
       --user-popout-grayscale: var(--background-grayscale);
       --user-popout-sepia: var(--background-sepia);
       --user-popout-blur: calc(var(--background-blur) + 3px);
       --user-popout-overlay: rgba(0, 0, 0, 0.6);
       --user-modal-image: var(--background-image);
       --user-modal-position: var(--background-position);
       --user-modal-size: var(--background-size);
       --user-modal-repeat: var(--background-repeat);
       --user-modal-attachment: var(--background-attachment);
       --user-modal-brightness: var(--background-brightness);
       --user-modal-contrast: var(--background-contrast);
       --user-modal-saturation: var(--background-saturation);
       --user-modal-invert: var(--background-invert);
       --user-modal-grayscale: var(--background-grayscale);
       --user-modal-sepia: var(--background-sepia);
       --user-modal-blur: calc(var(--background-blur) + 3px);
}



/* TRANSPARENCY */



    :root,
    .theme-dark {
        --background-scrim: #00000020;
        --background-surface-high: #00000070 !important;

    }

    .theme-white {
        --background-scrim: #00000020;
    }

    .inner_c0bea0{
        background-color: #000;
    }

    .guildTooltipWrapper_b1f768 {
        background-color: #000 !important;
        border-radius: 10px;
    }
  

    .scroller_c1e9c4, .contentWrapper__08434 {
        background-color: #000;
    }

    /*CONFIG*/

    .scroller__99e7c, .chatContent_f75fb0 {
        background-color: rgb(0 0 0 / var(--theme-transparency-amount));
        backdrop-filter: blur(var(--theme-blur-amount));
    }









/* ACTIVITY ITEMCARDS */
.itemCard__7e549 {
    background-color: transparent !important;
}


/* SETTINGS*/
.scroller__6131a, .contentBody_e9e3ed {
    background-color: transparent !important;
}

.navScroller__409aa {
    background-color: transparent !important;
}

/* ABOUT ME / BIO BG */
.overlay_c0bea0 {
    background-color: transparent !important;
}

/* MESSAGE BOX TYPING*/
.channelTextArea_f75fb0 {
    background-color: transparent !important;
}

.textArea__74017 {
    color: transparent !important;
}

/* FRIENDLIST BUTTONS */
.actionButton_f8fa06 {
    background-color: var(--main-color);
    color: oklab(lightness a b);
}

/* DM NAMES TEXT */
.name__20a53 .overflowTooltip__972a0 {
    color: rgb(121, 121, 121);
}

/* DM MESSAGE SEARCHBAR */
.DraftEditor-root, .icon_c322aa {
    background-color: transparent !important;
}






.images-light {
background-color: transparent !important;
color: transparent !important;
}



.title_c38106 {
    background-color: transparent !important;
}



.theme-light {
--channels-default: grey;
}











   /* FRIENDLIST LINES */
   .peopleListItem_cc6179 {
       border-top: none;
       border-bottom: none;
   }

    /* FRIENDLIST LINES  V2 */

   .divider_cc6179 {
    display: none;
   }



   /* BETTER FRIENDLIST */
   .text__19b6d,
   .customStatusEmoji__19b6d {
       display: none;
   }

   .peopleListItem_cc6179 .icon_c9d15c {
       display: none;
   }



   /* SEARCHBAR REMOVAL */
   .searchBarComponent__35e86,
   .searchBar_e6b769 {
       display: none;
   }

   .image__33d12 {
       visibility: hidden;
       position: relative;
   }


   .text__33d12:after {
       visibility: visible;
       position: absolute;
       top: 0;
       left: 0;
       content: "Sadly, there's nothing to see here.";
   }

   .friendsEmpty_c7ea19 .vertical_abf706 .text__33d12 {

       visibility: hidden;
       position: relative;
   }



   /* MESSAGE TOOL BAR FIX 06.08.2024 */

   /* ACTIVE NOW TEXT */

   .header__7d20c {
       text-indent: -9999px;
       position: relative;
       display: flex;
       justify-content: center;
   }


   .header__7d20c::after {
       text-indent: 1px;
       content: "";
       text-align: left;
       position: absolute;
       left: 50%;
       transform: translateX(-39%);
   }



   .content_b6bcee .wrapper__33d12 .text__33d12:after {
       visibility: visible;
       position: absolute;
       top: 0;
       left: 15%;
       content: "You haven't completed any quests silly";
   }


   /* REMOVE EDIT BUTTON ON PROFILE */
   .wrapper_d852db .button_fb7f94 {
       display: none;
   }

   /* TEXT PREVIEW REMOVAL */
   .preview__3e443,
   .input_fea832,
   .inner_fea832 {
       display: none;
   }


   .button__67645:active {
       backdrop-filter: blur(8px);
   }

   /* ACTIVITY BACKGROUND TRANSPARENT LOL TRANS + PARENT FUNNY */
   .overlayBackground_c69a7b {
       background-color: transparent !important;
   }

   /* REACTION FIX */
   .reactionBtn__23977 {
       background-color: transparent !important;
   }




   .innerDisabled__74017 {
       pointer-events: auto !important;
       opacity: 1;
   }


   .button_e6e74f {
       display: none !important;
   }


   .scrollableContainer__74017 {
       background-color: transparent !important;
   }

   .themedBackground__74017 {
       background-color: transparent !important;
   }



   /* ???????????????????????? 

   .channelTextArea_f75fb0 {
       background-color: transparent !important;
   }

   /* -----------------------*/


   .wrapper__11054 {
       display: none;
   }










   /* --------------------------------------------------- NEW UI --------------------------------------------------- */


   /* BAR */

   .base__5e434 .bar_c38106 .title_c38106 .text-sm\/medium_cf4812 {
       font-size: 0;
   }

   .base__5e434 .bar_c38106 .title_c38106 .text-sm\/medium_cf4812::before {
       content: "";
       font-size: 11px;
       opacity: 50%;
       position: fixed;

   }

   .base__5e434 .title_c38106 .title__85643 svg {
       display: none !important;
   }

   .title_c38106 .title__85643 .guildIcon__85643 {
       display: none;
   }

   .bar_c38106 .title_c38106 .title__85643 {
       transform: translateX(-100%);
       margin-right: 88%;
       position: relative;
       top: 5px;
   }



   @media screen and (min-width: 1500px) {
       .bar_c38106 .title_c38106 .title__85643 {
           left: -2.1%;
       }
   }



   .panelSubtextContainer__37e49 {
       display: none !important;
   }



   .folderGroup__48112 {
       height: auto;
       display: block;
   }






   /* SEARCH BAR */

   .searchBar__5ec2f {
       display: none;
   }




   /* SEARCH BAR POS FIX */

   .children__9293f {
       position: relative;
       top: 5px;
   }





   /* BORDERS */
   .container_c8ffbb {
       border: none !important;
   }

   .callContainer_cb9592 {
       border-top-color: var(--main-color-border) !important;
   }

   .callContainer_cb9592 {
       border-left-color: var(--main-color-border) !important;
   }

   .callContainer_cb9592 {
       border-left: none !important;
   }


   .container__133bf {
       border-color: var(--main-color-border) !important;
   }


   .sidebarListRounded__5e434 {
       border-color: var(--main-color-border) !important;
   }




   .tabBody__133bf {
       border: none !important;
   }


   .container__9293f {
       border-bottom: none !important;
   }


   .scrollerBase_d125d2 {
       border: none !important;
   }


   .subtitleContainer_f75fb0 {
       border: none !important;
   }

   .chat_f75fb0 {
       border-color: var(--main-color-border) !important;
   }

   .header_f37cb1 {
       border: none !important;
       box-shadow: none !important;
   }

   .content_f75fb0 {
       border: none !important;
   }




   /* ADD FRIEND */


   .tabBar__133bf :last-child {
       background-color: var(--main-color) !important;
   }

















   /* FRIEND STATUS FIX */

   .container_c9d15c {
       display: none;
   }






   .section__00943 {
       background-color: transparent !important;

   }


   .memberInner__5d473 {
       &:has(.chipletContainerInner__10651) {
           .chipletContainerInner__10651 {
               display: none;
           }
       }
   }


   /* NEWS */


   /* CLAN TAGS */

   .avatarContainer_dca174 {
       background: none !important;
   }

   .container_dca174 {
       background-color: transparent !important;
   }

   .svg__2338f {
       background-color: transparent !important;
       border-radius: 20% !important;
   }

   .avatarWrapper_dca174 {
       background-color: transparent !important;
   }



   .chipletContainerInner__10651 {
       background-color: transparent !important;
   }


   .animatorLeft_faf9c0 {
       border-radius: 20px !important;
   }

   /* ANSWER TO PFP OR STATUS MÜLL */
   .popover__2d0ab {
       display: none !important;
   }

   /* Guild in UserCard Fix */
   span.guildTagContainer__63ed3 {
       border-color: transparent !important;
   }


   /* SERVER MEMBER ACCEPTING THINGS */



   /* FIX SUMMARIES PLUGIN */


   .messagesWrapper__36d07:has(.topicsPillContainer__0f481) .topicsPillContainer__0f481 {
       border: none !important;
   }

   /* FIX MESSAGE SEARCHBAR */

   .DraftEditor-root {
       background-color: black;
   }

   .searchBar_c322aa {
       border-radius: 5px;
   }


   /* SERVER BANNER FIX */

   .bannerImg_f37cb1 {
       width: max-content;
   }


   /* BUTTON FIX */
   .buttonChildrenWrapper_a22cb0 {
       background-color: var(--main-color);
   }

   .button_a22cb0 {
       border: none !important;
   }

   .sidebarList__5e434 {
       border-top-color: #5c4e47 !important;
   }

   .header_f37cb1 {
       border-top-color: #5c4e47 !important;
   }

   .container_f37cb1 {

       border-top-color: #5c4e47 !important;
   }

   .container__2637a {
       border-top-color: #5c4e47 !important;

   }

   /* new SERVER NITRO */
   .progress__0d0f9 {
       border-radius: 4px !important;
       background-color: transparent;
       background: none;
       background-color: rgb(56, 26, 52);
   }

   .progress__0d0f9:hover {
       border-radius: 4px !important;
       background-color: transparent;
       background: none;
       background-color: rgb(56, 26, 52);
   }



   .sidebarList__5e434 {
  border-top-left-radius: 12px;

}




   .visual-refresh:not(.platform-osx) .leading_c38106::before {
       content: var(--before-content, "DarkVision");
       position: static;
       margin-left: 10px;
       font-size: 16px;
       font-weight: 600;
       color: var(--text-default);
       order: 2;
       filter: drop-shadow(0 0 5px var(--hsl-main-color));
   }

   .leading_c38106::after {
       content: var(--theme-version) !important;
   }





   .visual-refresh:not(.platform-osx) .leading_c38106::after {
       content: "7.0.1";
       position: static;
       margin-top: -5px;
       margin-left: 5px;
       font-family: var(--code-font);
       font-size: 11px;
       font-weight: 600;
       color: var(--text-muted);
       order: 3
   }



   .tabListScroller__37bfc {
       background-color: transparent !important;
   }


   .title_c38106 .title_edbb22 .icon_f34534 {
       display: none;
   }

   .title_edbb22 {
       display: none;
   }






   /*PROFILE TEXT FIX */

   .panelTitleContainer__37e49 [class*="cf48127484dbde85-text-md/medium"] {
       opacity: 80%;
       font-size: 15px;
   }


   /*SETTINGS SEARCHBAR FIX */

   .input__0ed4f {
       background-color: transparent;
       box-shadow: none !important;
   }

   /*ACTIVITY FIX 2.0 */



   /* SERVER BANNER BLACK BOX FIX */



   .scroller__629e4 {
       background-color: transparent !important;
   }





   /* CAT */

   /*  THANKS TO Computing Cat for this snippet and help ^^  */


   .user-profile-sidebar>[class^="inner_"]>[class^="footer__"] {
       border: none;

       &::before {
           display: block;
           border-bottom: 1px solid var(--user-profile-border);
       }
   }

   .emptyCard__7e549::before {
       content:
           "╱|、   \a"
           "(˚ˎ 。7  \a"
           "|、˜〵\  \a"
           "  じしˍ,)ノ";

       white-space: pre;
       inset: 0;
       padding: 20px 0;
       color: rgba(255, 255, 255, 0.547);
       text-align: center;
       font-size: 150%;
   }

   .title_c38106 {
       justify-content: left !important;
       padding: 0 320px;
   }

   .title_c38106::before {
    /* The cat */
    content:
        "                  _ _ /\\_/\\      〜 ♡\a"
        "  'ᓚ(⌒,¸ 𐔌•⩊• 𐦯⚟";

    white-space: pre;
    display: block;
    padding: 0px;
    color: rgba(255, 255, 255, 0.503);
    text-align: center;
    font-size: 75%;
    line-height: 1.2;
}





   /* Textbox MESSAGE MSG fix */

  
.scrollableContainer__74017 {

  min-height: 75px; 

}

.inner__74017 {
 position: relative;
 top: 10px;
}




   /* FADE CAUSED SETTINGS SEARCHBAR BUG */

   .searchBar_c7e907 {
       margin-top: 30px;
   }

   /* NVIDIA NOW FIX */

   .popoverContentWithGradient_d6f39b {
       display: none !important;
   }

   /* END BUTTON */

   .bottomControls_bfe55a div:nth-child(3) div:nth-child(1) div:nth-child(1) div:nth-child(1) div {
       color: rgb(255, 255, 255);

   }

   /* END BUTTON FRAME */

   .centerButton_f1ceac {
       border-radius: 10px !important;
   }




   /* BUTTON FIX */

   .buttonChildrenWrapper_a22cb0 {
       background-color: var(--main-color);
   }


   .button_a22cb0 {
       border: none !important;

   }

   /* Gradient fix */


   .chatGradientBase__36d07 {
       display: none;
   }

   /* ------------------------------------------------------------------*/

   @media (max-width: 1500px) {

       .form_f75fb0 .scrollableContainer__74017 {
           overflow: visible !important;
       }

       .form_f75fb0 .inner__74017 {
           position: relative;
       }

       .form_f75fb0 .buttons__74017 {
           position: absolute;
           top: 0;
           right: 0;
           z-index: 10;
           transition: top 0.3s ease;
       }

       .form_f75fb0 .inner__74017:focus-within .buttons__74017 {
           top: -70px;
       }

       .form_f75fb0 .inner__74017:focus-within .markup__75297 {
           width: 100%;
       }

       .form_f75fb0 .buttons__74017 {
           position: absolute;
           right: 0;
           top: 0;
       }

       .form_f75fb0 .inner__74017 {
           position: relative;
       }

       .form_f75fb0 .markup__75297 {
           display: block;
           width: 150px;
           transition: width 0.3s ease;
       }
   }


   .container__9293f,
   .panel__5dec7,
   .container__37e49,
   .itemsContainer_ef3116,
   .privateChannels_e6b769,
   .sidebar__5e434 {
       border: none !important;
   }

   /* ------------------------------------------------------------------*/


   .title_edbb22,
   .searchBar_e6b769 {
       display: none;
   }


   .sidebarList__5e434 {
       border-color: var(--main-color-border) !important;
   }




   /* NITRO PROFILE CARD FREEDOM */


   .profileBody__9c3be {
       background-color: transparent !important;
   }


   .tabPanelScroller__37bfc {
       background-color: transparent !important;
   }


   .button_fb7f94 {
       background-color: #a69589 !important;
       border-radius: 10px;
   }


   .icon_a22cb0 {
       color: white;
   }

   .listScroller__9d78f {
       background-color: transparent !important;
   }

   .container__8061a {
       background-color: transparent !important;
   }


   .bannerButton_fb7f94 {
       background-color: #a69589;
       border-radius: 10px;
   }


   .icon__0c4c4 {
       margin-top: 7px !important;
   }

   .body__5be3e {
       background-color: transparent !important;
   }




   [data-list-item-id^="chat-messages"] {
       animation: fadeUp 0.3s ease-out;
   }

   @keyframes fadeUp {
       from {
           opacity: 0;
           transform: translateY(10px);
       }

       to {
           opacity: 1;
           transform: translateY(0);
       }
   }

   .icon__6e9f8 {
       border-radius: 100%;
   }

   


   .content_d125d2:has(.container__0f2e8) {

       .container__0f2e8,
       .headerContainer__095fe {
           display: none;
       }

       .header__13cf1:nth-child(2) {
           display: none;
       }
   }
.backForwardButtons__63abb {
    display: none;
}






/* YADA YADA STUFF */









































/* translucent settings menu by benzeel V2 */
/* ------ SETTINGS MENU START ------ */

    /* settings menu scroll shadow */
      .fixedContent__409aa:after {
        border-top-left-radius:  8px;
        border-top-right-radius:  8px;
      }
    /* settings menu main BG */
      .content_e9e3ed {
        background: #00000046;
      }
      .contentHeader_e9e3ed {
        background: transparent !important;
      } 
    /* Security Keys BG */
      .credentialItem__6c75d {background: none;}
      .credentialItem__6c75d:is(:first-child) {border:0px;}
      .credentialList__6c75d {
        background: #0c0c0c83; 
        border-radius: 8px; 
        border: 1px solid var(--border-subtle);
      }
    /* krisp bg */
      .card__73069:not(.outline__73069) {background: none}
    /* keybinding bgs */
      .defaultKeybindGroup__740f2 {background: #2b2a2a63;}
    /* vencord quick actions */
      .vc-card-base {background: none;}
      .vc-settings-quickActions-pill {background: #55555571;}
      .vc-settings-quickActions-pill:hover {background: #7e7e7e71;}
    /* Plugins */
      .vc-addon-card {background: none;}
    /* server boosts */
      .appliedBoostContainer_ceb06a {
        background: none; 
        border: 1px solid var(--border-subtle);
      }
      .guildContainer__5dba5 {background: #3d3d3d52;}
      .boostContainer_ceb06a {background: #141414a1;}
    /* server boost faq */
      .wrapper__5b98e {background: #3d3d3d52;}
    /* Share nitro */
      .expandedProgressBarContainerSettingsPage_a61c56 {
        background: none;
        backdrop-filter: none;
      }
    /* my account */
      .accountProfileCard__1fed1 {
        background: #03030333; 
        border: 1px solid var(--border-subtle);
      }
      .background__1fed1 {
        background: #1818183b; 
        border: 1px solid var(--border-subtle);
      }
      .fieldList__1fed1 {background: none;}
    /* appearance */
      .cardPrimary__73069, .cardPrimary__73069.editable__73069 {background: #03030356;}

    /* "view reactions" popup & settings menu (for some reason)*/
    .container__8a031 {background: #14141494; backdrop-filter: blur(10px);}

/* ------ END OF SETTINGS MENU ------ */






:root {
  --isc-bg: var(--bg-4, var(--background-base-low));
  /*blur can be performance intensive, to disable change this to 0px */
  --isc-bg-blur: 2px;
  --isc-bg-brightness: 0.5;

  /* use these to dertime the order of the panels, smaller = higher */
  --ics-panel-order-activity: 1;
  --ics-panel-order-spotify: 2;
  --ics-panel-order-voicechat: 3;
  --ics-panel-order-user: 4;

  --isc-song-title: var(--accent-4, var(--text-strong));
  --isc-icon-color: var(--text-1, var(--text-default));

  --isc-progress-bar: var(--accent-2, hsl(141, 41%, 45%));
  --isc-progress-bar-hover: var(--accent-2, hsl(141, 41%, 65%));

  --isc-button-icon: var(--text-4, var(--text-default));
  --isc-button-icon-hover: var(--text-1, var(--text-strong));
  --isc-button-bg: transparent;
  --isc-button-bg-hover: var(--hover, var(--background-mod-strong));

  --isc-button-toggled-icon: var(--accent-4, hsl(141, 41%, 45%));
  --isc-button-toggled-icon-hover: var(--accent-4, hsl(141, 41%, 65%));
  --isc-button-bg-base: var(--accent-new, hsl(141, 41%, 45%));
  --isc-button-toggled-bg: color-mix(in hsl, var(--isc-button-bg-base), transparent 90%);
  --isc-button-toggled-bg-hover: color-mix(in hsl, var(--isc-button-bg-base), transparent 80%);
}

/*---===< COVER ART AS BACKGROUND >===---*/

/* hide the original album image */
#vc-spotify-info-wrapper > img,
#vc-spotify-player:not(:has(#vc-spotify-album-expanded-wrapper)):hover #vc-spotify-album-image {
  display: none;
}

/* album cover as background using pseudo-elements */
#vc-spotify-player::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: blur(var(--isc-bg-blur)) brightness(var(--isc-bg-brightness, 1));
  border-radius: inherit;
  background-image: var(--vc-spotify-track-image);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  content: '';
}

#vc-spotify-player {
  border-radius: inherit;
  overflow: hidden;
}

/* layer all children above background */
#vc-spotify-info-wrapper,
.vc-spotify-button {
  position: relative;
  z-index: 1;
}

/* fade towards bottom */
#vc-spotify-player::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: inherit;
  background: linear-gradient(to bottom, transparent 68%, var(--isc-bg));
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: '';
}

/*---===< ICONS >===---*/

/* the song info */
#vc-spotify-info-wrapper {
  margin-left: 16px;
}

#vc-spotify-song-title {
  color: var(--isc-song-title);
  text-shadow: hsl(0, 0%, 25%) 1px 1px;
}

#vc-spotify-song-title::before,
#vc-spotify-song-title + p::before,
#vc-spotify-song-title + p + p::before {
  position: absolute;
  -webkit-mask-size: contain;
  margin-left: -17px;
  background-color: var(--isc-icon-color, white);
  padding: 7px;
  content: ' ';
}

#vc-spotify-song-title::before {
  -webkit-mask-image: url('https://raw.githubusercontent.com/ISOUL22/rice/refs/heads/main/Vencord/assets/music-note.svg');
  margin-top: 3px;
}

#vc-spotify-song-title + p::before {
  -webkit-mask-image: url('https://raw.githubusercontent.com/ISOUL22/rice/refs/heads/main/Vencord/assets/user.svg');
  margin-top: 0px;
}

#vc-spotify-song-title + p + p::before {
  -webkit-mask-image: url('https://raw.githubusercontent.com/ISOUL22/rice/refs/heads/main/Vencord/assets/disc-alt.svg');
  margin-top: 2px;
}

/*---===< PROGRESS BAR >===---*/

#vc-spotify-progress-bar {
  margin: 0px;
}

#vc-spotify-player .bar_a562c8 {
  background-color: hsla(0, 0%, 100%, 0.2);
}

#vc-spotify-player .barFill_a562c8 {
  background-color: var(--isc-progress-bar);
}

#vc-spotify-progress-bar:hover .barFill_a562c8 {
  background-color: var(--isc-progress-bar-hover);
}

#vc-spotify-progress-bar .grabber_a562c8 {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s;
  margin-top: -8px;
  margin-left: -8px;
  border: solid 2px hsla(0, 0%, 0%, 0.3);
  background-color: var(--isc-progress-bar-hover);
  width: 16px;
  height: 16px;
}

#vc-spotify-progress-bar:hover .grabber_a562c8 {
  visibility: visible;
  opacity: 1;
}

/* hide durations */
.vc-spotify-progress-time {
  display: none;
}

/*---===< BUTTONS >===---*/
.vc-spotify-button-row {
  margin: 0px;
}

.vc-spotify-button {
  margin: 0px 15px;
  border: none;
  background-color: var(--isc-button-bg);
  width: 40px;
  height: 25px;
  color: var(--isc-button-icon);
}

.vc-spotify-button:hover {
  background-color: var(--isc-button-bg-hover);
  color: var(--isc-button-icon-hover);
}

.vc-spotify-button-icon {
  width: 28px;
  height: 28px;
}

.vc-spotify-shuffle-on,
.vc-spotify-repeat-context,
.vc-spotify-repeat-track {
  background-color: var(--isc-button-toggled-bg);
  color: var(--isc-button-toggled-icon);
}

.vc-spotify-shuffle-on:hover,
.vc-spotify-repeat-context:hover,
.vc-spotify-repeat-track:hover {
  background-color: var(--isc-button-toggled-bg-hover);
  color: var(--isc-button-toggled-icon-hover);
}

.vc-spotify-shuffle path,
.vc-spotify-repeat path {
  display: none;
}

svg.vc-spotify-shuffle,
svg.vc-spotify-repeat {
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: currentColor;
}

svg.vc-spotify-shuffle {
  -webkit-mask-image: url('https://raw.githubusercontent.com/ISOUL22/rice/refs/heads/main/Vencord/assets/shuffle.svg');
  -webkit-mask-size: 24px 24px;
}

svg.vc-spotify-repeat {
  -webkit-mask-image: url('https://raw.githubusercontent.com/ISOUL22/rice/refs/heads/main/Vencord/assets/loop.svg');
  -webkit-mask-size: 20px 20px;
}

.vc-spotify-repeat-1 {
  padding-right: 25px;
  font-weight: 500;
  font-size: 1em;
}

/*---===< FIXES FOR BASE DISCORD ELEMENTS >===---*/

/* panel order */
section.panels__5e434 {
  display: flex;
  flex-direction: column;

  /* activity status */
  .activityPanel__5e434 {
    order: var(--ics-panel-order-activity);
  }
  /* spotify controls */
  #vc-spotify-player {
    order: var(--ics-panel-order-spotify);
  }
  /* voicechat settings */
  .wrapper_e131a9 {
    order: var(--ics-panel-order-voicechat);
  }
  /* user settings */
  .container__37e49 {
    order: var(--ics-panel-order-user);
  }
}

/* transparent activity panel */
.panels__5e434 div.panel__5dec7.activityPanel__5e434 {
  background-color: transparent;
}

/* voice connected padding fix */
.panels__5e434 .container_e131a9 {
  padding-top: 12px;
}

/* grow user panel to fit track image - i want this to be an optional thing but idk how yet, so if you want this uncomment it :D 
.panels__5e434:has(#vc-spotify-player) {
  aspect-ratio: 1 / 1;
  min-height: auto;
  max-height: max-content;
}

.panels__5e434:has(#vc-spotify-player):not(:has(.activityPanel__5e434, .containerRtcOpened__37e49)) {
  #vc-spotify-progress-bar {
    margin-top: 180px;
  }

  #vc-spotify-info-wrapper {
    padding-left: 24px;
    scale: 120%;
  }
}
*/
